/* ==UserStyle==
@name         Dark RES Reddit Companion
@namespace    nisgrak
@description  Companion theme for RES night theme 
@version      0.0.1
@author       Nisgrak
@homepageURL  https://gitlab.com/Nisgrak/dark-res-reddit
@updateURL    https://gitlab.com/Nisgrak/dark-res-reddit/-/raw/master/dark-res-reddit.user.css
@supportURL   https://gitlab.com/Nisgrak/dark-res-reddit/issues
@license      GPL
@preprocessor stylus

==/UserStyle== */

@-moz-document url-prefix("https://www.reddit.com/") {
    .expando-button:not(.image) {
        background-image: url("https://gitlab.com/Nisgrak/dark-res-reddit/-/raw/master/buttons.png") !important;
    }
    .expando-button.image {
        background-image: url("https://gitlab.com/Nisgrak/dark-res-reddit/-/raw/master/button-camera.svg") !important;
        
    }
    a:empty.thumbnail {
        background-image: url("https://gitlab.com/Nisgrak/dark-res-reddit/-/raw/master/thumbnails.png") !important;
    }

    .entry.res-selected,
    .res-nightmode .entry.res-selected {
        background-color: inherit !important;
    }
}
